block var
doctype html
html(lang="cn")
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    if dev
      link(rel="stylesheet", href="../../../node_modules/css-kit/lib/toolkit.css")
      link(rel="stylesheet", href="../index.css")
    else
      link(rel="stylesheet" href="styles/vendor.css")
      link(rel="stylesheet" href="styles/app.css")
  body(class="#{page}")
    block content
    if dev
      script(src='../../../node_modules/vconsole/dist/vconsole.min.js')
      script(src='../../../bower_components/jquery/dist/jquery.js')
      script(src='../../../bower_components/handlebars/handlebars.js')
      script(src='../../../bower_components/fastclick/lib/fastclick.js')
      script(src="../components/common/cookie.js")
      script(src="../components/common/util.js")
      script(src="../components/common/status.js")
      script(src="../components/common/app.js")
      script(src="#{page}.js")
    else
      script(src="scripts/vendor.js")
      script(src="scripts/app.js")
    
    script.
      app && app['#{page}']()
    
